<form class="window">
	<div class="row">
		<div class="col">
			<img src="./assets/avatar.png" class="Login-icon">
		</div>
	</div>
	
	<div class="spacer"></div>
	<div class="row">
		<div class="col">
			<div class="input">
			  <input class="inputbox" placeholder="Username ...">
			  <div class="status">
			    <p>Username</p>
			  </div>
			</div>
		</div>
	</div>
	<div class="spacer"></div>
	<div class="row">
		<div class="col">
			<div class="input">
			  <input class="inputbox" placeholder="Login ...">
			  <div class="status">
			    <p>Password</p>
			  </div>
			</div>
		</div>
	</div>
	<div class="spacer"></div>
	<div class="row">
		<div class="col">
			<button type="Submit" class="enter">LOGIN</button>
		</div>
	</div>
	<div class="smspacer"></div>
	<div class="row">
		<div class="col">
			<div class="highlight"></div>
			<div class="selector">
				<div class="login"><p>Log In</p></div>
				<div class="newuser"><p>Sign Up</p></div>
				<!--<img src="./assets/drawer.png" class="drawer">-->

			</div>
		</div>
	</div>
</form>
