
$inputH: 45px;

$breakpoints: (
	'sm': 767px,
	'md': 992px,
	'lg': 1200px
);

@mixin respond-to($breakpoint){
	//retrieves the value from the key
	$value: map-get($breakpoints, $breakpoint);


	@if $value != null{
		@media (min-width: $value){
			@content;
		}
	}@else{
		@warn "Unfortunately , no value could be retrieved from from `#{$breakpoint}`."
	}
}

@mixin inputField(){
	.input{
		position: relative;
	  	display: block;
	  	margin-left: auto;
		margin-right: auto;
	 	width: 67%;

	  	.inputbox{
		    position: absolute;
		    border: 1px solid #E9E9E9;
		    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
		    background-color: #e6e9f0;
		    opacity: 0.25;
		    padding: 0px; // get rid of inherent inputbox padding
		    padding-left: 36%;
		    @include respond-to(md){
		    	padding-left: 28%;
		    	font-size: 12pt;
		    }
		    width: 100%;
			height: $inputH;
		    font-size: 15pt;
		}
	  	.inputbox:focus{
	    	outline-width: 0px;
	    	opacity: 0.35;
	  	}
	  	.status{
		    position: absolute;
		    background-color: #e6e9f0;
		    text-align: center;
		   	font-family: 'Bitter', serif;;
		    opacity: 0.2;
		    border: solid #E9E9E9 1px;
		    //border-radius: 8px;
		    height: $inputH;
		    width: 33%;
		    @include respond-to(md){
		    	width: 25%;
		    }
		   
		    p{
		      margin: 12px;
		      margin-left: 6px;
		      color: #636363;
		      font-size: 9pt;
		      @include respond-to(md){
		      	margin-top: 12px;
		    	font-size: 10pt;
		      }
		    }
	  	}  
	}

}

.spacer{
	height: 70px;
}
.smspacer{
	height: 40px;
}

.window{
	margin-left: auto;
    margin-right: auto;
	margin-top: 6%;
	padding-bottom: 2%;
	width: 95%;
	@include respond-to(md){
		width: 45%;
	}
	.Login-icon{
		display: block;
		margin-left: auto;
    	margin-right: auto;
    	margin-top: 10%;
    	
	}
	.highlight{
		width: 100%;
		border-top: solid #e6e9f0 2px;

	}
	.selector{
		margin-top: 6%;
	  	margin-left: auto;
    	margin-right: auto;
    	width: 60%;	
	}

	.enterBtn{
		display: block;
		margin-left: auto;
    	margin-right: auto;
    	border-radius: 2px;
    	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
    	width: 50%;
    	height: $inputH; //well use a standard height for now
    	border: 1px solid #E9E9E9;
    	background-color: #FFFFFF;
    	color: #FFCCCC;
    	font-size: 18pt;
    	font-weight: bold;
	}
	.enterBtn:hover{
		background-color: #e6e9f0;
		opacity: 0.4;
		cursor: pointer;
		cursor: hand;
	}
	
	@include inputField();
	@include inputField();
			
}


.myContainer{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #FFCCCC !important;

}
